@model IEnumerable<FurnitureShop.DAL.Models.StoredProcedureModels.ProductsInfo_Admin_Result>

<table class="table table-sm table-hover table-centered for-data-table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Товар</th>
            <th scope="col">Бренд</th>
            <th scope="col">Категории</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @if (Model?.Count() > 0)
        {
            @foreach (var product in Model)
            {
                <tr class="product-row pointer" data-product-id="@product.ProductId" data-product-name="@product.ProductName" data-is-deleted="@product.IsDeleted">
                    <th scope="row">@product.ProductId</th>
                    <td>@product.ProductName</td>
                    <td>@product.BrandName</td>
                    <td>@product.Categories</td>
                    <td class="product-delete-restore"><i class="pointer fa @(product.IsDeleted ? "fa-trash-restore-alt text-success" : "fa-trash-alt text-danger")"></i></td>
                </tr>
            }
        }
    </tbody>
</table>

<script>$('.for-data-table').DataTable();</script>