@model IEnumerable<SomeShop.DAL.Models.ContactInfo>
<div class="row mb-2">
    <div class="col text-right">
        <button class="btn btn-secondary mr-1" id="reload-contact-info">Update</button>
        <button class="btn btn-success" id="add-contact-info">Add</button>
    </div>
</div>
<div id="contact-list" class="table-responsive">
    <table class="table table-sm table-hover table-centered for-data-table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Address</th>
                <th scope="col">Phone</th>
                <th scope="col">Working hours</th>
                <th scope="col">Date created</th>
                <th scope="col">Date modified</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @if (Model?.Count() > 0)
            {
                @foreach (var contactInfo in Model)
                {
                    <tr class="contact-row pointer" data-contact-id="@contactInfo.Id" data-is-deleted="@contactInfo.IsDeleted">
                        <th scope="row">@contactInfo.Id</th>
                        <td class="shortable">@contactInfo.Address</td>
                        <td class="shortable">@contactInfo.Phones</td>
                        <td class="shortable">@contactInfo.TimeTable</td>
                        <td>@contactInfo.DateCreated.ToShortDateString() @contactInfo.DateCreated.ToShortTimeString()</td>
                        <td>@contactInfo.DateModified.ToShortDateString() @contactInfo.DateModified.ToShortTimeString()</td>
                        <td class="contact-delete-restore"><i class="pointer fa @(contactInfo.IsDeleted ? "fa-trash-restore-alt text-success" : "fa-trash-alt text-danger")"></i></td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

<div id="modal-large" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="contact-id" />
                <!-- City  -->
                <div class="form-group">
                    <label for="city">City<span class="text-danger">*</span>:</label>
                    <input type="text" class="form-control" id="city" placeholder="City...">
                </div>
                <!-- City -->
                <!-- Address  -->
                <div class="form-group">
                    <label for="address">Address<span class="text-danger">*</span>:</label>
                    <input type="text" class="form-control" id="address" placeholder="Address...">
                </div>
                <!-- Address -->
                <!-- Google Url  -->
                <div class="form-group">
                    <label for="google-url">Google map:</label>
                    <input type="text" class="form-control" id="google-url" placeholder="Link to map...">
                </div>
                <!-- Google Url -->
                <!-- Phones -->
                <div class="form-group">
                    <label for="phones">Phones:</label>
                    <textarea class="form-control" id="phones" rows="3" placeholder="You can specify several through ;"></textarea>
                </div>
                <!-- Phones -->
                <!-- TimeTable -->
                <div class="form-group">
                    <label for="time-table">Working hours:</label>
                    <textarea class="form-control" id="time-table" rows="3" placeholder="You can specify several through ;"></textarea>
                </div>
                <!-- TimeTable -->
                <div class="row mt-3">
                    <div class="col text-right">
                        <button class="btn text-right btn-success" id="contact-save">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script>
    $(document).ready(function () {
        activeLink('contacts-link');

        $('.for-data-table').DataTable();

        $('#add-contact-info').click(function () {
            $('#city').val(null);
            $('#address').val(null);
            $('#google-url').val(null);
            $('#phones').val(null);
            $('#time-table').val(null);
            $('#modal-large').modal('show');
        });

        function updateContactList() {
            setTimeout(function () { window.location.reload(true);}, 2000);
        }

        $('#reload-contact-info').click(function () {
            updateContactList();
        });

        $('#contact-save').click(function () {
            var _this = $(this).parent();
            var id = $('#contact-id').val();
            var contact = {};
            contact.id = id;
            contact.city = $('#city').val();
            contact.address = $('#address').val();
            contact.googleUrl = $('#google-url').val();
            contact.phones = $('#phones').val();
            contact.timeTable = $('#time-table').val();
            $.ajax({
                method: 'POST',
                url: '@Url.Action("UpdateContactInfo", "ContactInfo", new { area = "Admin" })',
                data: contact,
                success: function (data) {
                    if (data.success) {
                        Swal.fire({
                            type: 'success',
                            title: 'Success',
                            text: 'Contact updated successfully!',
                            showConfirmButton: false,
                            timer: 2000
                        });
                        updateContactList();
                    } else {
                        Swal.fire({
                            type: 'error',
                            title: 'Error',
                            text: 'An error has occurred!',
                            showConfirmButton: false,
                            timer: 2000
                        });
                    }
                }
            });
        });

        $('#contact-list').on('click', '.contact-row td:not(.contact-delete-restore)', function () {
            var _this = $(this).parent();
            var id = _this.data('contact-id');
            $.ajax({
                method: 'GET',
                url: '@Url.Action("GetContactInfo", "ContactInfo", new { area = "Admin" })',
                data: { contactId: id },
                success: function (data) {
                    $('#contact-id').val(id);
                    $('#city').val(data.city);
                    $('#address').val(data.address);
                    $('#google-url').val(data.googleUrl);
                    $('#phones').val(data.phones);
                    $('#time-table').val(data.timeTable);
                    $('#modal-large').modal('show');
                }
            });
        });

        $('#contact-list').on('click', '.contact-delete-restore', function () {
            var _this = $(this);
            var id = _this.parent().data('contact-id');
            $.ajax({
                url: '@Url.Action("DeleteOrRestoreContact", "ContactInfo", new { area = "Admin" })',
                method: 'POST',
                data: { id: id },
                success: function (data) {
                    if (data.success) {
                        Swal.fire({
                            type: 'success',
                            title: 'Success',
                            text: data.isDeleted ? 'The item has been successfully deleted!' : 'The item has been successfully restored!',
                            showConfirmButton: false,
                            timer: 2000
                        });
                        _this.find('i').removeClass('fa-trash-restore-alt text-success fa-trash-alt text-danger').addClass(data.isDeleted ? 'fa-trash-restore-alt text-success' : 'fa-trash-alt text-danger');
                    } else {
                        Swal.fire({
                            type: 'error',
                            title: 'Error',
                            text: 'Error occurred while removing / restoring!',
                            showConfirmButton: false,
                            timer: 2000
                        });
                    }
                }
            });
        });
    });
    </script>
}