@model ButterflyShop.Web.Models.ShopModels.ProductVM
@using static ButterflyShop.Web.Extensions.ImagePathExtension
@using static ButterflyShop.Web.Extensions.StringExtensions

@{
    var currentProduct = Model.Product;
    var products = Model.Products;
    var images = Model.ProductImages;
    var categories = Model.Categories;
    var parameters = Model.ItemsWithParameters;
    var currentParameter = Model.ItemsWithParameters.FirstOrDefault();
}
<input type="hidden" name="selectedItemId" value="@currentParameter.ItemId" />
<!-- Page Banner Section Start -->
<div class="container pt-60">
    <div class="page-banner text-left">
        <h2>@Model.Product.Name</h2>
        <ul class="page-breadcrumb">
            <li><a href="@Url.Action("Index", "Home")">Главная</a></li>
            <li>@Model.Product.Name</li>
        </ul>
    </div>
</div>
<!-- Page Banner Section End -->
<!-- Single Product Section Start -->
<div class="single-product-section section pt-60 pt-lg-40 pt-md-30 pt-sm-20 pt-xs-25 pb-100 pb-lg-80 pb-md-40 pb-sm-30 pb-xs-20">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="shop-area">
                    <div class="row">
                        <!-- Product Details Left -->
                        <div class="col-md-6 pr-35 pr-lg-15 pr-md-15 pr-sm-15 pr-xs-15">
                            <div class="row">
                                <div class="col-2">
                                    <div class="product-details-nav">
                                        @if (images?.Count() > 0)
                                        {
                                            foreach (var image in images)
                                            {
                                                <div class="sm-image"><img src="~/@ProductImage(image.Image)" alt="@($"{currentProduct.Name} {image.Image}")"></div>
                                            }
                                        }
                                        else
                                        {
                                            <div class="sm-image"><img src="~/@NoImage" alt="Без изображения"></div>
                                        }
                                    </div>
                                </div>
                                <div class="col-10">
                                    <div class="product-details-left">
                                        <div class="product-details-images tf-element-carousel">
                                            @if (images?.Count() > 0)
                                            {
                                                foreach (var image in images)
                                                {
                                                    <div class="lg-image">
                                                        <img src="~/@ProductImage(image.Image)" alt="@($"{currentProduct.Name} {image.Image}")">
                                                    </div>
                                                }
                                            }
                                            else
                                            {
                                                <div class="lg-image">
                                                    <img src="~/@NoImage" alt="Без изображения">
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @if (parameters?.Count() > 1)
                            {
                                <div class="row pt-30 pt-lg-20 pt-md-20 pt-sm-10 pt-xs-15">
                                    <div class="col">
                                        <div class="common-sidebar-widget">
                                            <h3 class="sidebar-title">Параметры товара</h3>
                                            <ul class="sidebar-tag" id="itemParameters">
                                                @foreach (var parameter in parameters)
                                                {
                                                    <li>
                                                        <span class="@(parameter == currentParameter ? "active" : "")" data-item="@parameter.ItemId" data-price="@parameter.Price" data-old-price="@(parameter.OldPrice.HasValue ? parameter.OldPrice.Value.ToString() : "null")">
                                                            @parameter.Parameters
                                                        </span>
                                                    </li>
                                                }
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                        <!--Product Details Left -->
                        <!--Product Details Content Start-->
                        <div class="col-md-6">
                            <div class="product-details-content">
                                <h2>@Model.Product.Name</h2>
                                <hr />
                                <div class="single-product-price">
                                    <span class="price new-price@(currentParameter.OldPrice.HasValue ? " text-danger" : "")" id="item-price">@currentParameter.Price₴</span>
                                    <span class="regular-price" id="item-old-price">@(currentParameter.OldPrice.HasValue ? $"{currentParameter.OldPrice.Value}₴" : "" )</span>
                                </div>
                                <div class="product-description">
                                    <p>@Model.Product.Description.Cut(100)...</p>
                                </div>
                                <div class="single-product-quantity">
                                    <form class="add-quantity" action="#">
                                        <div class="product-quantity">
                                            <input value="1" type="number" min="1">
                                        </div>
                                        <div class="add-to-link">
                                            <button class="btn"><i class="fa fa-shopping-bag"></i>в корзину</button>
                                        </div>
                                    </form>
                                </div>
                                <div class="wishlist-compare-btn">
                                    <a href="#" class="wishlist-btn">В Избранное</a>
                                </div>
                                <div class="product-meta">
                                    <span class="posted-in">
                                        Категории:
                                        @{
                                            var isFirst = false;
                                            foreach (var category in categories)
                                            {
                                                @if (isFirst)
                                                {
                                                    @:,
                                                }
                                                <a href="#">@category.Name</a>
                                                isFirst = true;
                                            }
                                        }
                                    </span>
                                </div>
                            </div>
                        </div>
                        <!--Product Details Content End-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Single Product Section End -->
<!--Product Description Review Section Start-->
<div class="product-description-review-section section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-review-tab section">
                    <!--Description Tab Menu Start-->
                    <ul class="nav dec-and-review-menu">
                        <li>
                            <a class="active" data-toggle="tab" href="#description">Описание</a>
                        </li>
                    </ul>
                    <!--Description Tab Menu End-->
                    <!--Description Tab Content Start-->
                    <div class="tab-content product-review-content-tab" id="myTabContent-4">
                        <div class="tab-pane fade active show" id="description">
                            <div class="single-product-description">
                                <p class="text-justify">
                                    @Model.Product.Description
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Description Tab Content End-->
            </div>
        </div>
    </div>
</div>
<!--Product Description Review Section Start-->
<!--Product section start-->
<div class="product-section section pt-100 pt-lg-80 pt-md-70 pt-sm-60 pt-xs-50 pb-55 pb-lg-35 pb-md-25 pb-sm-15 pb-xs-5">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section-title text-center mb-50 mb-xs-20">
                    <h2>Другие Товары</h2>
                </div>
            </div>
        </div>
        <div class="row product-slider">
            @foreach (var product in products)
            {
                @await Html.PartialAsync("~/Views/Shared/_ProductCard.cshtml", product)
            }
        </div>
    </div>
</div>
<!--Product section end-->

@section Scripts {
    <script>
        $(document).ready(function () {
            var itemParameters = $('#itemParameters > li span');
            var selectedItemInput = $('input[name="selectedItemId"]');
            var itemPriceLabel = $('#item-price');
            var itemOldPriceLabel = $('#item-old-price');
            itemParameters.click(function () {
                itemParameters.removeClass('active');
                $(this).addClass('active');
                var id = $(this).data('item');
                var price = $(this).data('price');
                var oldPrice = $(this).data('old-price');
                selectedItemInput.val(id);
                itemPriceLabel.text(price + '₴');
                itemOldPriceLabel.text(oldPrice + '₴');
            });


            $('.product-details-images').slick({
                arrows: false,
                slidesToShow: 1,
                slidesToScroll: 1,
                autoplay: false,
                autoplaySpeed: 5000,
                dots: false,
                centerMode: false,
                centerPadding: 0,
                asNavFor: '.product-details-nav'
            });

            $('.product-details-nav').slick({
                arrows: false,
                slidesToShow: 3,
                slidesToScroll: 1,
                autoplay: false,
                autoplaySpeed: 5000,
                vertical: true,
                verticalSwiping: true,
                dots: false,
                focusOnSelect: true,
                centerMode: false,
                centerPadding: 0,
                asNavFor: '.product-details-images',
            });
        });
    </script>
}