<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>FleaMarket - Админ панель</title>
    <meta property="og:image" content="images/site/logo.png">
    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
    <link rel="stylesheet" href="~/assets/css/admin-style.css" />
    <link rel="stylesheet" href="~/assets/css/fontawesome/css/all.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
</head>
<body class="bg-light">
    <!-- Begin fixed navbar -->
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="@Url.Action("Index", "Products")">FleaMarket</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a id="products-link" class="nav-link" href="@Url.Action("Index", "Products", new { area = "Admin" })">Товары</a></li>
                    <li class="nav-item"><a id="orders-link" class="nav-link" href="@Url.Action("Index", "Orders", new { area = "Admin" })">Заказы</a></li>
                    <li class="nav-item"><a id="contacts-link" class="nav-link" href="@Url.Action("Index", "ContactInfo", new { area = "Admin" })">Контакты</a></li>
                    <li class="nav-item"><a class="nav-link" href="@Url.Action("Logout", "Home", new { area = "Admin" })">Выйти</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <!-- End fixed navbar -->
    <!-- Begin page content -->
    <main role="main" class="container-fluid bg-white pt-3 pb-5">
        @RenderBody()
    </main>
    <!-- End page content -->
    <!-- Begin footer -->
    <footer class="bg-secondary">
        <div class="container text-center">
            <span class="text-muted text-black-50">
                &copy;FleaMarket 2019@(DateTime.Now.Year > 2019 ? $" - {DateTime.Now.Year}" : "").
                Created by <a class="font-weight-bold stretched-link text-white" href="mailto:valeria.osadcha@gmail.com">Valeria Osadcha</a>.
            </span>
        </div>
    </footer>
    <!-- End footer -->
    <!--Modals section-->
    @RenderSection("Modals", false)
    <!--Modals section end-->
    <!--Scripts section-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
    <!--Scripts section end-->
    <!--Additional scripts-->
    @RenderSection("Scripts", false)
    <!--Additional scripts end-->
    <script>
        function activeLink(id) {
            $('#' + id).addClass('active');
        }

        $.extend(true, $.fn.dataTable.defaults, {
            language: {
                url: "//cdn.datatables.net/plug-ins/1.10.13/i18n/Russian.json"
            }
        });
    </script>
</body>
</html>