@model ButterflyShop.Web.Models.HomeModels.IndexVM
@using static ButterflyShop.Web.Extensions.ImagePathExtension
@{
    var brands = Model.Brands;
    var randomBrands = Model.RandomBrands;
    var newItems = Model.NewItems;
    var saleItems = Model.SaleItems;
}

<!--Slider Section Start-->
<div class="hero-section section position-relative">
    <div class="hero-slider section">
        <!--Hero Item start-->
        <div class="hero-item bg-image" data-bg="assets/images/banners/bg-1.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="col-12">
                            <!--Hero Content start-->
                            <div class="hero-content-2 center">
                                <h2>Экологически чистая <br> косметика</h2>
                                <a href="@Url.Action("Index", "Shop")" class="btn">НАЙТИ</a>
                            </div>
                            <!--Hero Content end-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Hero Item end-->
        <!--Hero Item start-->
        <div class="hero-item bg-image" data-bg="assets/images/banners/bg-2.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <!--Hero Content start-->
                        <div class="hero-content-2 right">
                            <h2 class="text-white">Разнообразие брендов <br> в твоих руках</h2>
                            <a href="@Url.Action("Index", "Shop")" class="btn">НАЙТИ</a>
                        </div>
                        <!--Hero Content end-->
                    </div>
                </div>
            </div>
        </div>
        <!--Hero Item end-->
    </div>
</div>
<!--Slider Section end-->
<!-- Banner section start -->
@*<div class="banner-section section pt-30">
    <div class="container">
        <div class="row justify-content-center">
            @foreach (var brand in randomBrands)
            {
                <!-- Single Banner Start -->
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="single-banner-item mb-30">
                        <div class="banner-image">
                            <a href="@Url.Action("Index", "Shop", new { brandId = brand.Id })">
                                <img src="~/@BrandBackgroundImage(brand.BackgroundImage)" alt="@brand.Name">
                            </a>
                        </div>
                        <div class="banner-content">
                            <a class="btn" href="@Url.Action("Index", "Shop", new { brandId = brand.Id })">ПРОСМОТР</a>
                        </div>
                    </div>
                </div>
                <!-- Single Banner End -->
            }
        </div>
    </div>
</div>*@
<!-- Banner section End -->
<!--Product section start-->
<div class="product-section section pt-70 pt-lg-50 pt-md-40 pt-sm-30 pt-xs-20 pb-55 pb-lg-35 pb-md-25 pb-sm-15 pb-xs-5">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section-title text-center mb-15">
                    <h2>Новинки</h2>
                </div>
                <div class="product-tab mb-50 mb-sm-30 mb-xs-20">
                    <ul class="nav">
                        <li><a class="active show" data-toggle="tab" href="#new-items">Новинки</a></li>
                        <li><a data-toggle="tab" href="#with-sale-items">Распродажа</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="tab-content">
            <!-- New Items Tab Start -->
            <div id="new-items" class="tab-pane fade active show">
                <div class="row">
                    @foreach (var item in newItems)
                    {
                        <div class="col-lg-3 col-md-4 col-sm-6">
                            @await Html.PartialAsync("~/Views/Shared/_ProductCard.cshtml", item)
                        </div>
                    }
                </div>
            </div>
            <!-- New Items Tab End -->
            <!-- With Sale Items Tab Start -->
            <div id="with-sale-items" class="tab-pane">
                <!--  Single Grid product Start -->
                <div class="row">
                    @foreach (var item in saleItems)
                    {
                        <div class="col-lg-3 col-md-4 col-sm-6">
                            @await Html.PartialAsync("~/Views/Shared/_ProductCard.cshtml", item)
                        </div>
                    }
                </div>
                <!--  Single Grid product End -->
            </div>
            <!-- With Sale Items Tab End -->
        </div>
    </div>
</div>
<!--Product section end-->
<!--Features section start-->
<div class="features-section section pt-30 pt-lg-15 pt-md-0 pt-sm-0 pt-xs-15">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <!-- Single Feature Start -->
                <div class="single-feature mb-30">
                    <div class="feature-image">
                        <img src="~/assets/images/icons/feature-1.png" class="img-fluid" alt="">
                    </div>
                    <div class="feature-content text-center">
                        <h4 class="title">Быстрая доставка</h4>
                        <p class="short-desc">Мы предоставляем самый быстрый сервис обслуживания и доставки</p>
                    </div>
                </div>
                <!-- Single Feature End -->
            </div>
            <div class="col-lg-4 col-md-6">
                <!-- Single Feature Start -->
                <div class="single-feature mb-30">
                    <div class="feature-image">
                        <img src="~/assets/images/icons/feature-2.png" class="img-fluid" alt="">
                    </div>
                    <div class="feature-content text-center">
                        <h4 class="title">Качественная продукция</h4>
                        <p class="short-desc">Мы гарантируем качество продукции, которая является нашей главной целью</p>
                    </div>
                </div>
                <!-- Single Feature End -->
            </div>
            <div class="col-lg-4 col-md-6">
                <!-- Single Feature Start -->
                <div class="single-feature mb-30">
                    <div class="feature-image">
                        <img src="~/assets/images/icons/feature-3.png" class="img-fluid" alt="">
                    </div>
                    <div class="feature-content text-center">
                        <h4 class="title">Экологичность</h4>
                        <p class="short-desc">Мы стараемся работать только с экологически чистыми продуктами</p>
                    </div>
                </div>
                <!-- Single Feature End -->
            </div>

        </div>
    </div>
</div>
<!--Features section end-->
<!--Brand section start-->
<div class="brand-section section pb-100 pb-lg-80 pb-md-70 pb-sm-60 pb-xs-50 pt-30 pt-lg-15 pt-md-0 pt-sm-0 pt-xs-15">
    <div class="container text-center">
        <div class="section-title text-center mb-15">
            <h2>Бренды</h2>
        </div>
        <div class="row">
            <div class="brand-slider section">
                @foreach (var brand in brands)
                {
                    <!-- Single Brand Start -->
                    <div class="col">
                        <div class="single-brand">
                            <div class="brand-image">
                                <a href="@Url.Action("Index", "Shop", new { brandId = brand.Id})"><img src="~/@BrandLogoImage(brand.Logo)" alt="@brand.Name"></a>
                            </div>
                        </div>
                    </div>
                    <!-- Single Brand End -->
                }
            </div>
        </div>
    </div>
</div>
<!--Brand section end-->