@model IEnumerable<ButterflyShop.DAL.Models.StoredProcedureModels.ProductsInfo_Admin_Result>

<table class="table table-sm table-hover">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Товар</th>
            <th scope="col">Бренд</th>
            <th scope="col">Категории</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @if (Model?.Count() > 0)
        {
            @foreach (var product in Model)
            {
                <tr class="product-row pointer" data-product-id="@product.ProductId">
                    <th scope="row">@product.ProductId</th>
                    <td>@product.ProductName</td>
                    <td>@product.BrandName</td>
                    <td>@product.Categories</td>
                    <td><i class="pointer fa fa-trash-alt text-danger"></i></td>
                </tr>
            }
        }
    </tbody>
</table>